<div *ngIf="libro">
    <div >
      <h1 class="h2">Detalle Libro</h1>
    </div>
    <p>Editar/Eliminar Tareas</p>
    <div class="form-group">
        <label>ISBN:
           {{libro.ISBN}} 
        </label>
   </div>
   
    <div class="form-group">
    <label>Titulo:
      <input [(ngModel)]="libro.titulo"  class="form-control" placeholder="digite titulo" type="text"/>
    </label>
    </div>
  

    <div class="form-group">
            <label>precioVenta:
                <input [(ngModel)]="libro.precioVenta" class="form-control" placeholder="digite precioVenta" type="number" />
              </label>
    </div>
  
    <div class="form-group">
      <label>]Popularidad:
        <input type="checkbox" class="form-control" [(ngModel)]="libro.popularidad">
    </label>
    </div>
  
    <div class="form-group">
    
            <button (click)="update()" class="btn btn-primary">Actualizar</button>
            <button (click)="delete()" class="btn btn-primary">Eliminar</button>
    </div>
  
  </div>
